#nav-area{
    background-color: blueviolet;
}

#nav-area .icon{
    margin-top: 10px;
}

#nav-area .icon a{
    text-decoration: none;

}

#nav-area .icon i{
    font-size: 30px;
    color: azure;
   
    
}

#nav-area .icon sup{
    font-size: 15px;
    color: white;
    top: -1.5em;
    
    
}


#basket h1{
    text-align:center ;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tbody img{
    width: 150px;
    height: 150px;
}

.icon{
    cursor: pointer;
}

.table .icon{
    margin-left: 100px;
}

.plus{
    cursor: pointer;
}
.minus{
    cursor: pointer;
}